[submodule "rf24/RF24"]
	path = rf24/RF24
	url = https://github.com/nRF24/RF24.git
[submodule "esp/WiFiManager"]
	path = esp/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lm75/LM75"]
	path = lm75/LM75
	url = https://github.com/thefekete/LM75.git
